.image{
    width: 80vw;
    border: 1px solid #ccc;
}
div.fixed{
    position:fixed;
    bottom: 0px;
    left: 48%;
}
a:active{
    color: rgb(218, 179, 255);
}
a{
    color:rgb(255, 0, 0);
}
