#fireworks{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index:9999999999999999999999999999999999999999999999999999999;
    background-color: black;
    opacity: 0;
    transition: opacity 3s;
}

#jsi-cherry-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index:9999999999999999999999999999999999999999999999999999999;
    background-color: black;
    opacity: 0;
    transition: opacity 3s;
}

.header-img{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: wheat;
    background-image: url(https://xchuangc.github.io/Xlang/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

body{
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

.body{
    margin-top: 300px;
}

::-webkit-scrollbar{
    width: 0;
}

.button{
    line-height:30px;
    margin-top: 30px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: linear-gradient(45deg,  #a200ff,#25c1ff,#ffe600);
    background-size: 200%;
    background-position: center;
    color: #000000;
    transition: .6s;
}
.button:hover{
    background-position: 100% 0;
}

.gonggao{
    width: 90vw;
    max-width: 800px;
    height: 80vh;
    max-height: 500px;
    background: linear-gradient(#6da2ff 15%, #ffffff 15%);
    box-shadow: #00000050 0px 0px 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    z-index: 9999999999991;
    overflow: scroll;
    filter: grayscale(100%);
}

.gonggaomain{
    text-align: center;
    margin-top:50px

}

.lan{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(5px);
    z-index: 9999999999991;
}

.x{
    font-size: 40px;
    margin: 10px 20px;
}

.title{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 40px;
}

body{
    filter: grayscale(0);
}


