#fireworks{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index:9999999999999999999999999999999999999999999999999999999;
    background-color: black;
    opacity: 0;
    transition: opacity 3s;
}

#jsi-cherry-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index:9999999999999999999999999999999999999999999999999999999;
    background-color: black;
    opacity: 0;
    transition: opacity 3s;
}
