*{
    user-select: none;
}

#navText{
    position: relative;
    top: -15px;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
}

#navImg{
    width:  700px;
    height: 70px;
    
    margin-top: 15px;
    margin-left: 300px;
}

.nav_title_bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    background-color: white;
    height: 100px;
}

.nav_btn{
    max-width: 150px;
    min-width: 100px;
    height: 50px;
    border: none;
    background-color: #333;
    outline: none;
    transition: .3s;
    color: white;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.nav_btn:hover{
    cursor: pointer;
    background-color: rgb(89, 220, 240);
    color: black;
}

.btns{
    position: fixed;
    top: 90px;
    left: 0;
    width: 100vw;
    background-color: #333;
}

.now{
    background-color: rgb(89, 240, 162);
    color: black;
}

.block{
    height: 150px;
}
#bantu{
    width:500px;
    height:500px;
}



