::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

br{
    user-select: none;
}

td{
    border: 1px solid #000;
    font-size: 24px;
    padding: 5px 10px;
}

tr{
    border: none;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table{
    border-spacing: 0;
}

input{
    
    width:200px;
    height:30px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-top:50px;
    outline: none;
    padding-left: 10px;
    background: #fff;
    box-shadow: #ccc 0px 1px 4px;
}
button{
    user-select: none;
    width:100px;
    height:30px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-left:10px;
    margin-top:10px;
    outline: none;
    background: #fff;
    transition: .3s;
}

button:hover{
    cursor: pointer;
    background: #f8f8f8;
}

#result{
    margin-top: 25px;
}

red{
    color: red;
}

yellow{
    color: rgb(255, 255, 0);
}

blue{
    color: rgb(0, 0, 255);
}

.rank_s{
    background-color: white;
    max-width: 500px;
    border: .5px solid black;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    z-index: -1;
}

.add_to_match{
    margin-left: 20px;
    margin: 0;
    margin-top: 5px;
}

#rank{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#competitive{
    width: 170px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 30%;
    margin-left: 20px;
    margin: 0;
    margin-top: 5px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 9999;
    display: none;
    background-color: white;
    height: 100px;
    transition: width .7s;
}

#competitive *{
    z-index: 9999;
}

#setInOrOut{
    position: fixed;
    right: inherit;
}

#btn_triangle_outOrIn{
    position: absolute;
    left: 30px;
    top: 30%;
    transform: rotate(-90deg);
    width: 35px;
    height: 35px;
    z-index: 9999;
    transition: left .7s, transform .7s;
    background: url(triangle.svg) no-repeat center;
}

font{
    color: white;
}